.main-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
    font-size: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.exit-button {
    background-color: aliceblue;
}

.exit-button:hover {
    background-color: #b1b6bb;
}

.add-to-bucket-button {
    background-color: #35bbe7;
    border: none;
}

.add-to-bucket-button:hover {
    background-color: #2386a2;
}

.product-container {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.footer {
    text-align: right;
    margin-top: 20px;
}

.cart-button {
    padding: 20px 40px;
    border: none;
    background-color: #f7f5db;
    border-radius: 20px;
    font-size: 20px;
}

.cart-button:hover {
    background-color: #b7b5a2;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}